
  
#about {

    min-height: 100vh;
    background-image: url(background.jpg);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}
.container {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-family: 'Fira Mono', monospace;
    font-size: 18px;
    width: 100%;
}
.me {
    margin: 10px;
    width: 150px;
    box-shadow: 2px 2px 3px  rgb(71, 62, 62);
}
.computer {
    margin: 10px;
    width: 280px;
    filter: drop-shadow(2px 2px 5px  rgb(228, 217, 217));
}
.boxAbout1, .boxAbout2 {

    margin: 20px;
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.par {
    text-align: center;
}

.headerSkills {
    display: flex;
    justify-content: center;
}







  /* ==================== SKILLS ==================== */
  .headerSkills h3 {
    margin-top: 50px;
    color: white;
    font-size: 25px;
}




.box-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
}
 .square {
    position: relative;
    max-width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #2fc7ff;
}
.aboutSkills .square span {
    -webkit-box-shadow: 0 0 5px #2fc7ff;
        -moz-box-shadow: 0 0 7px #2fc7ff;
            box-shadow: 0 0 10px #2fc7ff;
}
.aboutSkills .square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #9fe4fc;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s;
    animation: animate 6s linear infinite;
}
.aboutSkills .square:hover span:nth-child(1) {
    background-color: #9fe4fc;
    border: none;
}
.aboutSkills .square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #9fe4fc;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s;
    animation: animate 8s linear infinite;
}
.aboutSkills .square:hover span:nth-child(2) {
    background-color: #9fe4fc;
    border: none;
}
.aboutSkills.square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #15a9da;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s;
    animation: animate2 10s linear infinite;
}
.aboutSkills .square:hover span:nth-child(3) {
    background-color: #9fe4fc;
    border: none;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    100%{
        transform: rotate(360deg);
    }
    0%{
        transform: rotate(0deg);
    }
}
.aboutSkills .box {
    position: relative;
    padding: 20px 40px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}
.aboutSkills .box h3{
    font-size: 9px;
}
.aboutSkills .box img{
    width: 30px;
}





.language-block {
    display: flex;
    flex-direction: column;
  
   
}
.language-block h2 {
    display: flex;
    justify-content: center;
    color: white;
}

.language-box {
    display: flex;
    justify-content: center;
    color: white;
    margin: 10px;
    padding: 10px;
}
.circle {
    width: 15px;
    height: 15px;
    background: #2fc7ff;
    border-radius: 50%;
    margin: 5px;
}
.points {
    list-style: none;
    display: flex;
}
.circleLight {
    width: 15px;
    height: 15px;
    background: #f3fcfd;
    border-radius: 50%;
    margin: 5px;
}



/* ==================== MOBILE ==================== */

@media all and (max-width: 912px) {

      
    .container {
        display: flex;
        flex-direction: column;
    }
    .boxAbout1 {
        flex-direction: column-reverse;
    }
    .boxAbout1, .boxAbout2 {
        width: 90%;
    }
    .boxAbout1, .boxAbout2 {
        align-self: center;
    }
    .par {
        font-size: 20px;
    }
    }

    @media all and (max-width: 600px) {
        .par {
            font-size: 16px;
        }
    }

@media all and (max-width: 414px) {
    .computer {
        width: 220px;
    }
    .me {
        width: 130px;
    }
}
@media all and (max-width: 375px) {
    .par {
        font-size: 14px;
    }
}

@media all and (max-width: 375px) {
    .square {
   
        max-width: 70px;
        height: 70px;
    
    }
}